{% extends 'base.html' %}

{% block content %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Enquiry id</th>
                <th scope="col">Upload Date</th>
                <th scope="col">Size</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% if confirmations.items|length %}
                {% for row in confirmations.items %}
                    <tr>
                        <td>{{ row.enquiry.id }}</td>
                        <td>{{ row.upload_date }}</td>
                        <td>{{ row.filesize }}</td>
                        <td class="text-center">
                            <a href="{{  url_for('app.download_confirmation', pk=row.id) }}" role="button" class="btn btn-sm btn-outline-info">Download</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4" class="text-center">Sorry, no results</td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    {% if confirmations.items|length %}
        <nav class="d-flex justify-content-center">
            <ul class="pagination">
                <li class="page-item {{ 'disabled' if confirmations.page == 1 }}">
                    <a class="page-link" href="{{ url_for('app.get_confirmations', page=1, pk=pk) }}">&laquo;</a>
                </li>
                <li class="page-item {{ 'disabled' if not confirmations.has_prev }}">
                    <a class="page-link" href="{{ url_for('app.get_confirmations', page=confirmations.prev_num, pk=pk) }}">&lsaquo;</a>
                </li>
                <li class="page-item {{ 'disabled' if not confirmations.has_next }}">
                    <a class="page-link" href="{{ url_for('app.get_confirmations', page=confirmations.next_num, pk=pk) }}">&rsaquo;</a>
                </li>
                <li class="page-item {{ 'disabled' if confirmations.page == confirmations.pages }}">
                    <a class="page-link" href="{{ url_for('app.get_confirmations', page=confirmations.pages, pk=pk) }}">&raquo;</a>
                </li>
            </ul>
        </nav>
    {% endif %}
{% endblock %}