<form id="search-form" class="form-inline" action="{{ url_for('app.get_confirmations') }}">
    <input class="form-control mr-sm-2" placeholder="Enquiry id" name="pk" type="text">
    <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">
</form>
